[submodule "Unity"]
	path = Unity
	url = https://github.com/OperatingSystemRocket/Unity.git
[submodule "acpica"]
	path = acpica
	url = https://github.com/OperatingSystemRocket/acpica.git
[submodule "mlibc"]
	path = mlibc
	url = https://github.com/managarm/mlibc.git
