HOST := i686

TOOLCHAIN_NAME := ${HOST}-elf

AR := ${TOOLCHAIN_NAME}-ar
CC := ${TOOLCHAIN_NAME}-gcc

AS := nasm -felf32

WARNING_FLAGS :=  -Wall -Wextra -Wundef -Wshadow -Wpointer-arith -Wcast-align \
                  -Wstrict-prototypes -Wcast-qual -Wconversion -Wunreachable-code \
                  -Wwrite-strings -Wnested-externs -Winline \
                  -Wno-long-long -Wpedantic #-Werror

KERNEL_FLAGS := -std=gnu17 -ffreestanding -DRocketOS -mgeneral-regs-only

RELEASE_LINK_FLAGS := -O3 -flto
DEBUG_LINK_FLAGS := -O0 -g

DEBUG_FLAGS := -fverbose-asm -O0 -g -DDEBUG -save-temps=obj
RELEASE_FLAGS := -O3 -DNDEBUG


PREFIX := /usr
EXEC_PREFIX := ${PREFIX}
BOOTDIR := /boot
LIBDIR := ${EXEC_PREFIX}/lib
INCLUDEDIR := ${PREFIX}/include

CFLAGS := -O2 -g
CPPFLAGS ?=

# Configure the cross-compiler to use the desired system root.
PWD_DIR != ../get_pwd.sh
SYSROOT := ${PWD_DIR}/sysroot
CC := ${CC} --sysroot=${SYSROOT}

DESTDIR := ${SYSROOT}
