HOST := i686

AR := ${HOST}-ar
AS := ${HOST}-as
CC := ${HOST}-gcc

PREFIX := /usr
EXEC_PREFIX := ${PREFIX}
BOOTDIR := /boot
LIBDIR := ${EXEC_PREFIX}/lib
INCLUDEDIR := ${PREFIX}/include

CFLAGS := -O2 -g
CPPFLAGS ?=

# Configure the cross-compiler to use the desired system root.
PWD_DIR != ../get_pwd.sh
SYSROOT := ${PWD_DIR}/sysroot
CC := ${CC} --sysroot=${SYSROOT}

DESTDIR := ${SYSROOT}
